.container {
    width: calc(100% - 20px);
    max-width: 1295px;
    margin: 0 auto;

    &.v_center {
        display: flex;
        align-items: center;
    }
}

.inline_list {
    display: flex;
}

.hidden {
    display: none;
}