footer {

    .footer_main {
        background-color: $darkBlue;
        padding: 35px 0 25px;

        .footer_logo {
            width: 190px;
            margin: 0 auto;

            img {
                width: 100%;
                height: auto;
            }
        } // footer_logo

        .footer_social {
            display: flex;
            justify-content: space-around;
            margin: 20px 0 0;
            @include mobile {
                justify-content: center;
            }

            p {
                @include open-sans(700, 15.23px);
                color: #fff;
                text-transform: uppercase;
                margin-right: 10px;
            }

            ul {
                li {
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    &.twitter img {
                        width: 18px;
                        height: 15px;
                    }
                    &.facebook img {
                        width: 9px;
                        height: 19px;
                    }
                    &.youtube img {
                        width: 16px;
                        height: 21px;
                    }

                    a:hover img {
                        opacity: .8;
                    }
                }
            }
        } // footer_social 
    } // footer_main

    .footer_bottom {
        background-color: $blue;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        ul {
            li {
                text-align: center;
                a {
                    @include open-sans(400, 12px);
                    color: #fff;
                    &:hover, &:focus {
                        text-decoration: underline; 
                    }
                }
            }
        }

        .quick_links {
            margin: 0 auto;
            padding-bottom: 10px;
            @include desktop {
                display: none;
            }
             li {
                padding: 0 10px;
                &:first-child {
                    border-right: 1px solid #fff;
                }
                &.commercial {
                    img {
                        position: relative;
                        width: 12px;
                        height: 12px;
                        top: 3px;
                        margin-left: 3px;
                    }
                }
             }
        }

        .global_links {
            border-top: 1px solid #fff;
            margin: 0 auto;
            padding-top: 10px;
            @include desktop {
                padding-top: 0;
                border-top: none;
            }
            
            li {
                padding: 0 10px;
                @include open-sans(400, 12px);
                color: #fff;
                &:nth-child(2) {
                    border-left: 1px solid #fff;
                    border-right: 1px solid #fff;
                }
                a {
                    
                }
            }
        }
    } // footer_bottom
}