.modal_wrapper  {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000, .50);
    z-index: 999;
    overflow-y: auto;

    .modal {
        position: absolute;
        width: calc(100% - 20px);
        max-width: 700px;
        left: 0;
        right: 0;
        top: 85px;
        margin: 0 auto;
        background-color: #fff;

        .modal_header {
            background-color: $darkBlue;
            padding: 20px;

            .close, p, h2 {
                color: #fff;
            }

            .close {
                text-align: right;
                &:hover, &:focus {
                    cursor: pointer;
                    opacity: .8;
                }
            }

            p {
                @include open-sans(700, 16px);
                text-transform: uppercase;
                margin: 0;
            }

            h2 {
                @include open-sans(400, 32px);
                margin: 0;
            }
        } // modal header

        .modal_body {
            padding: 20px;

            > p {
                margin-top: 0;
                @include open-sans(400, 15px);
            }

            form {
                padding: 20px;
                background-color: $bgColor;

                .form_input {
                    position: relative;
                    margin-bottom: 20px;

                    img, span {
                        position: absolute;
                        right: 0;
                        top: 5px;
                    }
                    span, p {
                        @include open-sans(300, 14px);
                        font-style: italic;
                    }
                    p {
                        color: red;
                    }

                    img {
                        width: 21px;
                    }

                    &.phone {
                        max-width: 250px;
                    }

                    label {
                        @include open-sans(700, 15px);
                        line-height: 30px;
                    }

                    input[type="text"],
                    input[type="email"],
                    input[type="tel"],
                    textarea {
                        width: 100%;
                        border: 1px solid $border;
                        @include open-sans(400, 15px);
                    }

                    input {
                        height: 46px;
                        text-indent: 15px;
                    }

                    textarea {
                        height: 75px;
                        text-indent: 15px;
                        padding-top: 15px;
                    }

                    .radio {
                        position: relative;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;

                        label {
                            margin-left: 5px;
                        }
                    }
                } // form input



                .form_submit {
                    padding-top: 20px;
                    border-top: 2px solid $border;
                    display: flex;
                    justify-content: flex-end;
                    @include desktop {
                        justify-content: center;
                    }

                    button {
                        @include open-sans(700, 14px);
                        border: none;
                        background: transparent;
                        @include animation;
                        &:hover, &:focus {
                            color: $accentColor;
                            cursor: pointer;
                        }
                        @include desktop {
                            display: flex;
                        }

                        i {
                            position: relative;
                            top: 2px;
                            color: $accentColor;
                            display: none;
                            @include desktop {
                                display: flex;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        } // modal body

        .modal_footer {
            background-color: $border;
            padding: 10px;
            display: none;
            @include desktop {
                display: block;
            }
            p {
                @include open-sans(400, 12px);
            }
        }

    } // modal
} // modal_wrapper
