/*******************
Colors
*******************/
$blue: #216ddf;
$darkBlue: #083d8c;
$bgColor: #f6f6f6;
$accentColor: #0bc9c8;
$border: #ededed;
$textColor: #3f3f3f;
/*******************
Fonts
*******************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700');

@mixin open-sans($weight, $size) {
    font-family: 'Open Sans', sans-serif;
    font-weight: $weight;
    font-size: $size;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: $textColor;
}

p, li, span, a, div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $textColor;
}



/*******************
General Mixins
*******************/
@mixin box-shadow {
    box-shadow: 0px 2px 4.3px 0.7px rgba(0, 0, 0, 0.31);
}

@mixin border-radius {
    border-radius: 5px;
}

@mixin text-animation {
    -webkit-transition: color 0.3s linear, opacity 0.3s linear;
    -moz-transition: color 0.3s linear, opacity 0.3s linear;
      -o-transition: color 0.3s linear, opacity 0.3s linear;
         transition: color 0.3s linear, opacity 0.3s linear;
}

@mixin animation {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
         transition: all 0.3s linear;
}

/*******************
Transitions
*******************/
.fade-enter-active, .fade-leave-active {
    transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}